{% extends 'layouts/base.html' %}

{% block title %}Terms of Service{% endblock %}
{% block heading %}<h2>Terms of Service</h2>{% endblock %}

{% block body %}
    <p>
      By using the Fitness Calculator ("service"), you are agreeing to be bound by the
      following terms and conditions ("terms of service").
    </p>
    <p>
      Fitness Calculator, LLC ("company") reserves the right to update and change these
      terms of service without notice.
    </p>
    <p>
      Violation of any of the terms below may result in the termination of your
      account.
    </p>
    <small class="text-muted">Last updated September 10th 2022</small>
{% endblock %}
