{% extends 'layouts/base.html' %}

{% block title %}Info Tables{% endblock %}
{% block meta_description %}Fitness Calculator Website is a Flask CRUD Project to demonstrate understanding of DevOps process. {% endblock %}

{% block body %}
    <div>
        <a href="/"><b><<< HOME</b></a>
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
       <h1>Standard Weight Value Tables</h1>
      <h3 class="text-muted">
          <h3>Male Standard Weight:</h3>
        <table class="table-bordered" align="center" cellSpacing=2 cellPadding=2 width="80%" border=1 style="border:1px solid #1C6ED1 ">
            <tbody>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95 height=30>age | height</td>
                    <td align=middle width=50 height=30>152cm</td>
                    <td align=middle width=50 height=30>156cm</td>
                    <td align=middle width=50 height=30>160cm</td>
                    <td align=middle width=50 height=30>164cm</td>
                    <td align=middle width=50 height=30>168cm</td>
                    <td align=middle width=50 height=30>172cm</td>
                    <td align=middle width=50 height=30>176cm</td>
                    <td align=middle width=50 height=30>180cm</td>
                    <td align=middle width=50 height=30>184cm</td>
                    <td align=middle width=50 height=30>188cm</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>19</td>
                    <td align=middle width=50>50</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>67</td>
                    <td align=middle width=50>70</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>21</td>
                    <td align=middle width=50>51</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>65</td>
                    <td align=middle width=50>69</td>
                    <td align=middle width=50>72</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>23</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>66</td>
                    <td align=middle width=50>70</td>
                    <td align=middle width=50>73</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>25</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>67</td>
                    <td align=middle width=50>71</td>
                    <td align=middle width=50>74</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>27</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>67</td>
                    <td align=middle width=50>71</td>
                    <td align=middle width=50>74</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>29</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>67</td>
                    <td align=middle width=50>71</td>
                    <td align=middle width=50>74</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>31</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>65</td>
                    <td align=middle width=50>68</td>
                    <td align=middle width=50>72</td>
                    <td align=middle width=50>75</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>33</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>65</td>
                    <td align=middle width=50>68</td>
                    <td align=middle width=50>72</td>
                    <td align=middle width=50>75</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>35</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>66</td>
                    <td align=middle width=50>69</td>
                    <td align=middle width=50>73</td>
                    <td align=middle width=50>76</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>37</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>66</td>
                    <td align=middle width=50>69</td>
                    <td align=middle width=50>73</td>
                    <td align=middle width=50>76</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>39</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>66</td>
                    <td align=middle width=50>70</td>
                    <td align=middle width=50>74</td>
                    <td align=middle width=50>77</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>41</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>67</td>
                    <td align=middle width=50>70</td>
                    <td align=middle width=50>74</td>
                    <td align=middle width=50>77</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>43</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>67</td>
                    <td align=middle width=50>70</td>
                    <td align=middle width=50>74</td>
                    <td align=middle width=50>77</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>45</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>67</td>
                    <td align=middle width=50>70</td>
                    <td align=middle width=50>74</td>
                    <td align=middle width=50>77</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>47</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>65</td>
                    <td align=middle width=50>67</td>
                    <td align=middle width=50>71</td>
                    <td align=middle width=50>75</td>
                    <td align=middle width=50>78</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>49</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>65</td>
                    <td align=middle width=50>68</td>
                    <td align=middle width=50>71</td>
                    <td align=middle width=50>75</td>
                    <td align=middle width=50>78</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>51</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>65</td>
                    <td align=middle width=50>68</td>
                    <td align=middle width=50>71</td>
                    <td align=middle width=50>75</td>
                    <td align=middle width=50>78</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>53</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>65</td>
                    <td align=middle width=50>68</td>
                    <td align=middle width=50>71</td>
                    <td align=middle width=50>75</td>
                    <td align=middle width=50>78</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>55</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>65</td>
                    <td align=middle width=50>68</td>
                    <td align=middle width=50>71</td>
                    <td align=middle width=50>75</td>
                    <td align=middle width=50>78</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>57</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>65</td>
                    <td align=middle width=50>67</td>
                    <td align=middle width=50>70</td>
                    <td align=middle width=50>74</td>
                    <td align=middle width=50>77</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>59</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>67</td>
                    <td align=middle width=50>70</td>
                    <td align=middle width=50>74</td>
                    <td align=middle width=50>77</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>61</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>67</td>
                    <td align=middle width=50>70</td>
                    <td align=middle width=50>74</td>
                    <td align=middle width=50>77</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>63</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>67</td>
                    <td align=middle width=50>70</td>
                    <td align=middle width=50>74</td>
                    <td align=middle width=50>77</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>65</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>67</td>
                    <td align=middle width=50>70</td>
                    <td align=middle width=50>74</td>
                    <td align=middle width=50>77</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>67</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>67</td>
                    <td align=middle width=50>70</td>
                    <td align=middle width=50>74</td>
                    <td align=middle width=50>77</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=95>69</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>67</td>
                    <td align=middle width=50>70</td>
                    <td align=middle width=50>74</td>
                    <td align=middle width=50>77</td>
                </tr>
            </tbody>
        </table>
          <h3>Male Standard Weight:</h3>
        <table class="table-bordered" align="center" cellSpacing=2 cellPadding=2 width="80%" border=1 style="border:1px solid #1C6ED1">
            <tbody>
                <tr bgColor=#EFF7F0>
                    <td width=100 height="24" align=middle>age | height</td>
                    <td align=middle width=50>152cm</td>
                    <td align=middle width=50>156cm</td>
                    <td align=middle width=50>160cm</td>
                    <td align=middle width=50>162cm</td>
                    <td align=middle width=50>164cm</td>
                    <td align=middle width=50>166cm</td>
                    <td align=middle width=50>168cm</td>
                    <td align=middle width=50>170cm</td>
                    <td align=middle width=50>172cm</td>
                    <td align=middle width=50>176cm</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>19</td>
                    <td align=middle width=50>46</td>
                    <td align=middle width=50>47</td>
                    <td align=middle width=50>49</td>
                    <td align=middle width=50>50</td>
                    <td align=middle width=50>51</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>60</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>21</td>
                    <td align=middle width=50>46</td>
                    <td align=middle width=50>47</td>
                    <td align=middle width=50>49</td>
                    <td align=middle width=50>50</td>
                    <td align=middle width=50>51</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>60</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>23</td>
                    <td align=middle width=50>46</td>
                    <td align=middle width=50>47</td>
                    <td align=middle width=50>49</td>
                    <td align=middle width=50>50</td>
                    <td align=middle width=50>51</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>60</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>25</td>
                    <td align=middle width=50>46</td>
                    <td align=middle width=50>48</td>
                    <td align=middle width=50>49</td>
                    <td align=middle width=50>50</td>
                    <td align=middle width=50>51</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>61</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>27</td>
                    <td align=middle width=50>47</td>
                    <td align=middle width=50>48</td>
                    <td align=middle width=50>50</td>
                    <td align=middle width=50>51</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>61</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>29</td>
                    <td align=middle width=50>47</td>
                    <td align=middle width=50>49</td>
                    <td align=middle width=50>51</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>62</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>31</td>
                    <td align=middle width=50>48</td>
                    <td align=middle width=50>49</td>
                    <td align=middle width=50>51</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>62</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>33</td>
                    <td align=middle width=50>48</td>
                    <td align=middle width=50>50</td>
                    <td align=middle width=50>51</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>63</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>35</td>
                    <td align=middle width=50>49</td>
                    <td align=middle width=50>50</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>63</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>37</td>
                    <td align=middle width=50>49</td>
                    <td align=middle width=50>51</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>64</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>39</td>
                    <td align=middle width=50>50</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>65</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>41</td>
                    <td align=middle width=50>51</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>65</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>43</td>
                    <td align=middle width=50>51</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>55</td>

                    <td align=middle width=50>56</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>66</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>45</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>66</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>47</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>67</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>49</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>67</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>51</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>67</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>53</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>67</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>55</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>67</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>57</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>68</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>59</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>58</td>
                    <td align=middle width=50>60</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>68</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>61</td>
                    <td align=middle width=50>53</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>64</td>
                    <td align=middle width=50>67</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>63</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>67</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>65</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>66</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>67</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>66</td>
                </tr>
                <tr bgColor=#EFF7F0>
                    <td align=middle width=100>69</td>
                    <td align=middle width=50>52</td>
                    <td align=middle width=50>54</td>
                    <td align=middle width=50>55</td>
                    <td align=middle width=50>56</td>
                    <td align=middle width=50>57</td>
                    <td align=middle width=50>59</td>
                    <td align=middle width=50>61</td>
                    <td align=middle width=50>62</td>
                    <td align=middle width=50>63</td>
                    <td align=middle width=50>66</td>
                </tr>
            </tbody>
        </table>
        <br><br>
    </div>
{% endblock %}