{% extends 'layouts/base.html' %}

{% block title %}Update Form{% endblock %}
{% block meta_description %}Fitness Calculator Website is a Flask CRUD Project to demonstrate understanding of DevOps process. {% endblock %}
{% block body %}
<h3>Update Data Form</h3>
<form action="/form-update" method="POST">
    <table>
        <tr>
            <td><h3>User ID: {{ data.id  }}</h3></td><br>
                    <tr>
             <td><input type="hidden" name="id" value="{{ data.id }}"></td>
        </tr>
        </tr>
        <tr>
            <td><h4>Please, update your Email:</h4></td>
        </tr>
        <tr>
             <td><input type="text" name="email" value="{{ data.email }}"></td>
        </tr>
            <tr>
             <td><button type="submit">Update</button></td>
        </tr>
    </table>
</form>
{% endblock %}
