{% extends 'layouts/base.html' %}

{% block title %}Update Form{% endblock %}
{% block meta_description %}Fitness Calculator Website is a Flask CRUD Project to demonstrate understanding of DevOps process. {% endblock %}
{% block body %}
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
       <h1>Update Form</h1>
      <h3 class="text-muted">
          </h3><br><br>
        <div class="header">
            <h2>Please, update your Email:</h2>
        </div>
        <h4 class="word">
<form action="/form-update" method="POST">
    <table class="table">

            <td><h3>User ID: {{ data.id  }}</h3></td><br>
                    <tr>
             <td><input type="hidden" name="id" value="{{ data.id }}"></td>
        </tr>
        <tr>
             <td><input type="text" name="email" value="{{ data.email }}"></td>
        </tr>
            <tr>
             <td><button type="submit">Update</button></td>
        </tr>
    </table>
</form>
        </h4>
    </div>
  </div>
    </div>
  </div>
  </div>
{% endblock %}